<app-dashboard-layout [userProfile]="userProfile" pageTitle="Minha Dieta">
  <div class="patient-dashboard-content">
    <ng-container *ngIf="data$ | async as data; else loadingOrNotFound">
      <div class="welcome-message">
        <h1>Bem-vindo(a), {{ userProfile?.name }}!</h1>
        <p>Aqui está o seu plano de dieta semanal.</p>
      </div>

      <div class="diet-plan-section">
        <app-calendar-week
          [startDate]="startDate"
          [weeklyDietSchedule]="data.weeklyDietSchedule"
          [mealOptions]="data.mealOptions"
          (slotClick)="onSlotClicked($event)"
        ></app-calendar-week>
      </div>
    </ng-container>

    <ng-template #loadingOrNotFound>
      <div class="centered-message">
        <p>Carregando seu plano de dieta...</p>
      </div>
    </ng-template>
  </div>
  <app-meal-selection-modal #mealModal (mealSelected)="onMealSelected($event)"></app-meal-selection-modal>
</app-dashboard-layout>
