<div class="home-container">
  <!-- Hero Section Simplificada -->
  <section class="hero-section">
    <video #bgVideo autoplay loop muted playsinline class="hero-video">
      <source src="Background-video.mp4" type="video/mp4">
    </video>
    <div class="video-overlay"></div>
    <div class="hero-content">
      <h1 class="hero-title">Gerencie Sua Nutrição com Facilidade</h1>
      <p class="hero-subtitle">
        Acesse a plataforma e descubra o caminho para uma alimentação personalizada e eficiente
      </p>
      
      <div class="access-buttons">
        <button class="btn-primary" (click)="navigateToLogin('nutritionist')">
          <span class="btn-icon"><img class="icon-svg" src="icons/Nutritionist-white.svg"></span>
          Sou Nutricionista
        </button>
        
        <button class="btn-secondary" (click)="navigateToLogin('patient')">
          <span class="btn-icon"><img class="icon-svg" src="icons/Patient-white.svg"></span>
          Sou Paciente
        </button>
      </div>
    </div>
  </section>
  <!-- Features Section -->
  <section class="features-section">
    <h2 class="section-title">Como Funciona</h2>
    
    <div class="features-grid">
      <div class="feature-card">
        <div class="feature-icon"><img class="icon-svg" src="icons/Clipboard-green.svg"></div>
        <h3>Para Nutricionistas</h3>
        <p>Cadastre pacientes, crie opções de refeições personalizadas e acompanhe o progresso de cada um.</p>
      </div>
      
      <div class="feature-card">
        <div class="feature-icon"><img class="icon-svg" src="icons/Meal-green.svg"></div>
        <h3>Para Pacientes</h3>
        <p>Acesse seu cardápio personalizado e escolha suas refeições diárias de forma prática.</p>
      </div>
    </div>
  </section>


  <!-- CTA Section -->
  <section class="cta-section">
    <h2 class="section-title">Pronto para começar?</h2>
    <p>Cadastre-se como nutricionista e comece a gerenciar seus pacientes hoje mesmo!</p>
    <button class="btn-cta" (click)="navigateToRegister()">
      Cadastrar como Nutricionista
    </button>
  </section>
</div>
